apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: claims-api-hpa
  namespace: claims-dev
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: claims-api
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
